{{extend 'layout2.html'}}

<style>


    #top{
        height: 33%;
        overflow-y: auto;
    }
    
    #headerz{
        float: right;
        width: 65%;
        height: 100%;
        text-align: center;
        border-style: dotted;
        border-width: 0px 0px 0px 3px;
    }
    
    #logo{
        float: left;
        width: 33%;
        height: 100%;
        padding: 25px 0px 25px 00px;
    }
    
    #bottom{
        clear: both;
        height: 100%;
        text-align: center;
        border-style: dotted;
        border-width: 3px 0px 0px 0px;
        overflow-y: auto;
    }
    
    #leftside{
        float: left;
        width: 33%;
        padding: 25px 0px 25px 00px;
    }
    
    #rightside{
        float: right;
        width: 65%;
        border-style: dotted;
        border-width: 0px 0px 0px 3px;
    }
    
    #nav{
        margin: 25px 25px 25px 25px;
        border-style: dotted;
        border-width: 1px 1px 1px 1px;
        overflow: auto;						<!-- Ahhhhh! If you don't want the border to magically collapse put overflow: auto. It expands to fit the content-->
    }
    
    #nav1{
        float: left;
        padding: 5px;
    }
    
    #nav2{
        float: right;
        padding: 5px;
    }
    
    #news{
        margin: 25px 25px 25px 25px;
        padding: 0px 10px 10px 10px;
        height: 150px;
        border-style: dotted;
        border-width: 1px 1px 1px 1px;
        overflow-y: scroll;
    }
    
    #lastpost{
        float: left;
        width:55%;
        height: 75px;
        margin: 0px 0px 25px 25px;
        border-style: dotted;
        border-width: 1px 1px 1px 1px;
        overflow-y: scroll;
    }
    
     #whoseonline{
        float: right;
        width: 35%;
        height: 75px;
        margin: 0px 25px 0px 0px;
        border-style: dotted;
        border-width: 1px 1px 1px 1px;
        overflow-y: scroll;
    }
</style>

<div id='top'>
    <div id='logo'>LOGO HERE{{=IMG(_src='algobase-logo.png')}}</div>
    <div id='headerz'>
        <h1>Welcome to AlgoBase</h1>
		<h3>A database of algorithms</h3>    
	</div>
</div>


    
<div id='bottom'>
	<div id='leftside'>
        	LIST OF ALGOS/SEARCH HERE

			        	LIST OF ALGOS/SEARCH HERE
        {{for category in categories:}}
        	<div class='categorybox'>
        	{{=category.name}}
                {{for algo in algos:}}
                	{{if algo.category.name == category.name:}}
        				{{=LI(A(algo.name, _href=URL("view", args=algo.id)), _style='display: none')}}
        			{{pass}}
        		{{pass}}
        	</div>
        {{pass}}
        	
			<p>Click <a href="add.html">here</a> to add an Algorithm.</p>
	</div>
    <div id='rightside'>
    	<div id='nav'>
            <div id='nav1'>NAV HERE</div>
            <div id='nav2'>
    			{{if auth.is_logged_in() == False:}}
            		{{=A("Sign in ", _href=URL("user"))}}
 					/
					{{=A("Sign up", _href=URL("user", args='register'))}}
				{{pass}}
        	</div>
        </div>
        <div id='news'>
            <p>This is a work in progress. We apologize for any inconveniences.</p>
        </div>
        <div id='lastpost'>Last Post</div>
        <div id='whoseonline'>Who is online</div>
    
    		
    </div>
</div>

<script>   
    $('.categorybox').click( function() {
        	$('.categorybox').children().hide('slow', function(){});
  			$(this).children().show('slow', function(){});
    });
</script>
